<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/healthclubaction/" autocomplete="on" method="get">
    <label>Club Name :
    <input type="text" name="name" placeholder="clubname">   
    </label>
    <br>
    <label> Category :
        <select name="category">
            <option>Male</option>
            <option>Female</option>
            <option>Unisex</option>
        </select>   
    </label>
    <br>
    <label> Address :
    <input type="text area" name="address" placeholder="Address">   
    </label>
    <br>
    <label> Place :
    <input type="text" name="place" placeholder="Place">   
    </label>
    <br>
    <label>Contact Number :
    <input type="tel" name="contact" placeholder="contact number">   
    <br>
    <label>Email :
    <input type="email" name="email" placeholder="email">
    </label>
    <br>
    <label>Password :
    <input type="password" name="password" placeholder="password">  
    </label>
    <br>
    <input type="submit" name="Add">
    </form>    
</body>
</html>