<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form action="/viewdietaction/" method="get">
     <label>Time:
     <input type="time" name="time" >
     </label>
     <br>
     <label>Date:
     <input type="date" name="date">
     </label>
     <br>
     <label>Diatein Name :
      <input type="text" name="name">
     </label>
     <br>
     <label>Duration :
     <input type="text" name="duration">
     </label>
     <br>
     <label>Reason :
      <textarea name="reason"></textarea>
     </label>
     <br>
     <label>contact no :
      <input type="text" name="contact">
     </label>
     <br>
     <label>Medical Records
         <input type="file" name="medical">
     </label>
     <br>
     <label>Add :
         <input type="submit" name="add">

     </label>


 </form>   
</body>
</html>